/* Fonts here */

/* start css here */
.login-font, .login-font-2{
    color: white;
    text-align: center;
    margin-top: 5%;
}

.login-font-2{
    margin-top: 1%;
}

label{
    color: white;
    font-weight: bold;
}

.login-btn-text{
    margin-top: 2%;
    color: white;
   font-size: 18px;
   text-align: center;
}

.reg-font{
    color: white;
    margin-left: 17%;

}