body{
    background-color: #0E1C43 !important;
}

/* Preloader testing section */
/* Preloader that will only run once on the login page */
.preloader-container{
    height: 50vh;
    margin-top: 20vh !important;
    background-image: url("../images/Logo.svg   ") !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: pulse 5s ;
    animation-iteration-count: 2;
    transition: ease-out;
    /* animation-name: fade;
    animation-duration: 0.35s;
   
   : infinite; */
    
}
/* Keyframes that show that the opacity must lower and heighten again. */
@keyframes pulse{
    0%{
        opacity: 0%;
    }

    
    100%{
        opacity: 100%;
    }

 
}

/* Login section */
 /* Login container */

 .login-container, .reg-container{
    padding: 2%;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    position: absolute;
    top: 10vh;
    border-radius: 25px;
    box-shadow: 7px 3px 37px -8px rgba(107,26,204,0.46);
-webkit-box-shadow: 7px 3px 37px -8px rgba(107,26,204,0.46);
-moz-box-shadow: 7px 3px 37px -8px rgba(107,26,204,0.46);
/* display: none; */

 }

 .login-logo{
     width: 100% !important;
 }

 /* 3dmodel logo */

 label,input{
    display:flex;
    flex-direction:column;
    margin-left: 17% !important;
    
  }

  input{
    width: 60%;
    background-color: transparent;
    border-radius: 5px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: white solid 2px;
    color: white;
    outline: none;
    

  }

  label{
      margin-top: 5%;
  }

  #sign-up{
      cursor: pointer;
      transition: 300ms linear ease-in;
    
  }

  #sign-up:hover{
    transform: scale(1.2);
    color: #4CA1D9;
    
}

.login-btn{
    width: 20%;
    height: auto;
    padding: 1%;
    margin-left: 40%;
    margin-top: 5%;
    background-color: #4CA1D9;
   border-radius: 8px;
   transition: 300ms ease-in-out;
}

.login-btn:hover{
 transform: scale(1.2);

}